.main__title {
    font-size: 2.5em;
    text-align: center;
    padding-top: 1em;
}

.container {
    background-color: #fff;
    padding: 0 6em;
}

.main__cards {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #fff;
}

@media (max-width: 768px) {
  .main__title {
    font-size: 2em;
    padding-top: 0.5em;
  }

  .container {
    padding: 0 1em;
  }

  .main__cards {
    flex-direction: column;
    gap: 1em;
  }
}