.main__title {
    font-size: 2.5em;
    text-align: center;
    padding-top: 1em;
}

.container {
    background-color: #fff;
    padding: 0 6em;
}

.main__cards {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #fff;
}