.section__container {
    padding: 7em;
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: #FFFFFC;
}

.section__subtitle {
    font-size: 4em;
    text-align: center;
}

.section__parrafo {
    margin-top: 1em;
    font-size: 1.5em;
    text-align: center;
    padding: 0 3em;
}

