.section__container {
    padding: 7em;
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: #FFFFFC;
}

.section__subtitle {
    font-size: 4em;
    text-align: center;
}

.section__parrafo {
    margin-top: 1em;
    font-size: 1.5em;
    text-align: center;
    padding: 0 3em;
}

@media (max-width: 768px) {
  .section__container {
    padding: 2em 1em;
  }

  .section__subtitle {
    font-size: 2.5em;
  }

  .section__parrafo {
    font-size: 1.2em;
    padding: 0 1em;
  }
}

